<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CashOnPick_TestSuite">
	<test thread-count="5" name="BasicFunctionalityTest">
		<classes>
			<class name="testPackageCashOnPick.testRegister" />		
			<class name="testPackageCashOnPick.testSellPhone" />
			<class name="testPackageCashOnPick.testLogin" />
		</classes>
	</test> <!--
	BasicFunctionalityTest -->
</suite> <!--
CashOnPick_TestSuite -->
